
.container{
  
   /* height: 100%; */
    display: inline-block;
   

}
.contentdisplay{
    /* height: 100vh; */
    margin-top: 1rem;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #307473;
    background-image: url("black.jpg"); 
   background-size: cover;
   
}
.persondetail{
    height: 100%;
    width: 80%;
    
}

.meetdetails{
    
    height: 20rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.meetbox{
  width: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.meetcontent{
    
    width: 70%;
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color:white;
}

.meetcontent p{
    color: black;
}