.container{
    
   background-image: url("black.jpg");

}
.df {
    font-size: large;
    height: 70px;
    margin-top: 25px;
    padding: 5px 0 15px 0;
    background-color: white;
    color: rgba(9, 127, 186, 0.886);
display: flex;
justify-content: center;

}
.upperbox {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
margin-top: 15px;
    background-color:;
}

.box {
    height: 370px;
    width: 370px;

}
.box :hover{
    border-radius: 8px;
    transform: scale(.95);
    }

.boxlogo img {
    /* height: 210px;
    width: 330px; */
    /* margin-left: 10px;
    margin-right: 10px; */
   /* background-image: url("person.png"); */
    /* background-size: cover; */
    box-shadow: 2px 2px 2px 2px#e1decc;

border-radius: 25px;
}

.boxcontent {
    /* margin-left: 10px; */
  
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
align-content: center;
   justify-content: center;
   
    
}

.boxcontent p {
    font-size: larger;
    font-family: 'Brandon Printed', sans-serif;
    color: white;
    
   
}

.boxcontent a {
    font-size: medium;
    text-decoration: none;
    color: white;
}

/* .box2 {
    height: 420px;
    width: 350px;
    background-color: white;
} */
/* 
.boxlogo2 {
    height: 210px;
    width: 330px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url("uk.jpg.webp");
    background-size: cover;
} */
/* 
.box3 {
    height: 420px;
    width: 350px;
    background-color: white;
} */

/* .boxlogo3 {
    height: 210px;
    width: 330px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url("uk.jpg.webp");
    background-size: cover;
} */
